<launch>

  <param name="robot_description" command="$(find xacro)/xacro.py --inorder $(find andrzej_description)/urdf/andrzej.xacro" />

  <group ns="andrzej">

    <node name="andrzej_hw" pkg="andrzej_control" type="andrzej_hardware_interface" output="screen"/>

    <rosparam file="$(find andrzej_control)/config/andrzej_control.yaml" command="load"/>
    <rosparam file="$(find andrzej_control)/config/andrzej_pwm_driver.yaml" command="load"/>

    <node name="andrzej_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false"
          output="screen" args="spawn joint_state_controller
                                      arm_1_joint_1_position_controller
                                      arm_1_joint_2_position_controller
                                      arm_1_joint_3_position_controller
                                      arm_1_joint_4_position_controller
                                      arm_1_joint_5_position_controller
                                      arm_2_joint_1_position_controller
                                      arm_2_joint_2_position_controller
                                      arm_2_joint_3_position_controller
                                      arm_2_joint_4_position_controller
                                      arm_2_joint_5_position_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  </group>

</launch>
