<launch>

  <param name="robot_description" command="$(find xacro)/xacro.py --inorder $(find andrzej_description)/urdf/andrzej.xacro" />

  <rosparam file="$(find andrzej_control)/config/andrzej_control.yaml" command="load"/>

  <node name="controller_loader" pkg="controller_manager" type="controller_manager" respawn="false"
          output="screen" ns="/andrzej" args="
                                            load
                                            arm_1_joint_1_position_controller
                                            arm_1_joint_2_position_controller
                                            arm_1_joint_3_position_controller
                                            arm_1_joint_4_position_controller
                                            arm_1_joint_5_position_controller
                                            arm_1_gripper_position_controller
                                            arm_2_joint_1_position_controller
                                            arm_2_joint_2_position_controller
                                            arm_2_joint_3_position_controller
                                            arm_2_joint_4_position_controller
                                            arm_2_joint_5_position_controller
                                            arm_2_gripper_position_controller"/>

  <node name="controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false"
          output="screen" ns="/andrzej" args="
                                            spawn
                                            joint_state_controller
                                            arm_1_controller
                                            arm_1_gripper_controller
                                            arm_2_controller
                                            arm_2_gripper_controller
                                            head_controller"/>

  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/andrzej" args="joint_state_controller
                                        arm_1_controller
                                        arm_1_gripper_controller
                                        arm_2_controller
                                        arm_2_gripper_controller
                                        head_controller"/> -->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/andrzej/joint_states" />
  </node>

</launch>
