<launch>

  <rosparam file="$(find andrzej_control)/config/andrzej_control.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/andrzej" args="joint_state_controller
                                        arm_1_joint_1_position_controller
                                        arm_1_joint_2_position_controller
                                        arm_1_joint_3_position_controller
                                        arm_1_joint_4_position_controller
                                        arm_1_joint_5_position_controller
                                        arm_2_joint_1_position_controller
                                        arm_2_joint_2_position_controller
                                        arm_2_joint_3_position_controller
                                        arm_2_joint_4_position_controller
                                        arm_2_joint_5_position_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/andrzej/joint_states" />
  </node>

</launch>
