<?xml version="1.0"?>
<robot>

  <material name="gray">
    <color rgba=".7 .7 .7 .9"/>
  </material>
  <material name="green">
    <color rgba="0.15 0.505 .015 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="orange">
    <color rgba="1 .3 0 .9"/>
  </material>

</robot>
